
body {
    font-size: 14px;
    font-family: sans-serif;
    color: rgb(53,53,53);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: inherit;
}

.header-li{
    margin-right: 1.2em;
}

#top-menus{
    width:100%;
    height: 102px;
}

#top-menu-left{
    float:left;
    top:0;
    margin-left: -22px;
}

#top-menu-right{
    float: right;
    top:0;
    font-size: 13px;
}

#app-launcher{
    height: 40px;
    width: 40px;
    background-color: white;
    border-style: none;
    border-radius: 50%;
}

#app-launcher:hover{
    background-color: rgb(242,242,242);
}

#app-launcher-icon{
    filter: contrast(0);
}

#sign-in {
    background-color: rgb( 56, 113, 224);
    color: white;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}

@media screen and (min-width: 740px) {
    #sign-in{
        padding-left: 1.8em;
        padding-right: 1.8em;
    }
    
}

#sign-in:hover{
    background-color: rgb(68, 123, 226);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

#leaf{
    max-height: 1em;
    margin-right: .5em;
}

#search-bar{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 95%;
    max-width: 580px;
    height: 3em;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: rgb(211,213,217);
}

#search-bar:hover{
    box-shadow: 0px 1px 3px 1px rgb(211, 213, 217);
}

#search-icon{
    float: left;
    filter: contrast(0);
    margin-top: .8em;
    margin-left: 1em;
    transform: scale(.8);
    
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    width: 80%;
    padding: 1em;
}

.search-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.centered-button{
    background-color: rgb( 249, 249, 250);
    border: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 1px;
    border-bottom-width: 2px;
    font-size: 14px;
    padding-top: .6em;
    padding-bottom: .6em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.centered-button:hover{
    border-style: solid;
    border-color: rgb(212, 212, 212);
}


footer {
    width: 100%;
    max-height: 140px;
    background-color: rgb( 242, 242, 242);
    position:absolute;
    bottom:0;
    text-align: center;
    color: rgb(113,117,122);
    line-height: 2.2em;
    margin-left: -8px;
}

.footer-li{
    margin: 1em;
}

#footer-left{
    float: center;
}

#footer-right{
    float: center;
}

@media screen and (min-width: 600px) and (max-width: 1200px){
    footer{
        line-height: 1.4em;
    }

    
    #footer-left{
        padding: 0;
        float: left;
        width: 57.25%;
        text-align: center;
    }

    #footer-right{
        padding: 0;
        float: right;
        width: 37.75%;
        text-align: center;
        margin-right: 5%;
    }
    
}

@media screen and (min-width: 1200px) {
    footer {
        line-height: 1.4em;
    }

    footer p {
        width: 33.33333%;
        position: absolute;
        bottom: 0;
        margin-left: 33vw;
    }
    #footer-left{
        padding: 0;
        float: left;
        width: 33.33333%;
        text-align: center;
        margin-left: -18px;
    }

    #footer-right{
        padding: 0;
        float: right;
        width: 33.3333%;
        text-align: center;
        margin-right: -70px;
    }
}





